# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c4ce1395f9ba4f52a307021be13961ed3dbac7561567501b7a68d6a290d98a383ffca6e672bb615e39470f258a34016bc09d3004cf2f5719087b0d88298c57a2

test:
  secret_key_base: 2b498b9e721c4d3186e545c893a7bc5eb1fde2ee1c16768c84c6544c1f45c757348b596d0d37d992fbe7e65380af09eaadc5963d0f8a6eb7387842a334fa069b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
