body{
  padding-top: 50px;
}

footer {
  text-align: center;
  border-top: 1px solid #eaeaea;
  color: #777;

  a {
    color: #555; //change my color!
  }

  a:hover {
    color: #222;
  }

  small {
    font-size: 0.5em;
  }
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}