body{
  padding-top: 50px;
}

footer {
  text-align: center;
  border-top: 1px solid #eaeaea;
  color: #777;

  a {
    color: #555; //change my color!
  }

  a:hover {
    color: #222;
  }

  small {
    font-size: 0.5em;
  }
}