/*
Error: File to import not found or unreadable: bootstrap-sprockets.
       Load paths:
         /Users/paulcolusso/pol/app/assets/stylesheets
         Sass::Globbing::Importer
        on line 17 of /Users/paulcolusso/pol/app/assets/stylesheets/application.css.sass

12:  *
13:  *= require_tree .
14:  *= require_self
15:  *\/
16: 
17: @import "bootstrap-sprockets"
18: @import "bootstrap"

Backtrace:
/Users/paulcolusso/pol/app/assets/stylesheets/application.css.sass:17
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:45:in `import'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:301:in `visit_import'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `block in with_base'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `with_base'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:20:in `render'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:268:in `render'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:404:in `run'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Users/paulcolusso/Downloads/CodeKit.app/Contents/Resources/engines/scss/bin/sass:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: bootstrap-sprockets.\A        Load paths:\A          /Users/paulcolusso/pol/app/assets/stylesheets\A          Sass::Globbing::Importer\A         on line 17 of /Users/paulcolusso/pol/app/assets/stylesheets/application.css.sass\A \A 12:  *\A 13:  *= require_tree .\A 14:  *= require_self\A 15:  */\A 16: \A 17: @import \"bootstrap-sprockets\"\A 18: @import \"bootstrap\""; }
