/*vars*/
/* mixins */
/* structures */
body {
  padding-top: 50px; }

footer {
  text-align: center;
  border-top: 1px solid #eaeaea;
  color: #777; }
  footer a {
    color: #555; }
  footer a:hover {
    color: #222; }
  footer small {
    font-size: 0.5em; }

.space_vert {
  margin-top: 20px;
  margin-bottom: 20px; }

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input {
  height: auto !important; }

#error_explanation {
  color: red; }
  #error_explanation ul {
    color: red;
    margin: 0 0 30px 0; }

.field_with_errors .form-control {
  color: #ff0000; }

/* misc */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
