<div class="container">
  <footer class="footer">
    <p>&copy; Paul Colusso, <%= Time.now.year %><br>
   	<small><%= link_to "Log In", "#"%> | <%= link_to "Sign Up", "signup"%></small>
    </p>
  </footer> 
</div>